.hide {
    display: none;
}

#guestImgTarget img {
    border-radius: 50%;

}

[class*="trash"] {
    cursor: pointer;
}

.error {
    border: #ff0000 1px solid;
}

#seatListTarget {
    max-height: 500px;
    overflow-y: scroll;
}